* {
  margin: 0px;
  padding: 0px;

  font-family: "QuickSand";
}

body {
  background-color: #eeeeee;
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  min-height: 100vh;
}
.navbar {
  background: url("/assets/header\ pattern\ image.png") center/cover no-repeat;
  background-color: #25313f;
  background-blend-mode: overlay;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.footer {
  width: 100%;
  background-color: #e0e1e1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #616161;
  gap: 16px;
  font-size: 12px;
}

.footer-logo {
  padding: 0px 16px;
  border-right: 1px solid #0000001f;
}

.footer-text {
  display: flex;
  gap: 8px;
}

.container {
  display: flex;
  width: 420px;
  background-color: #ffffff;
  margin: 50px auto;
  border-top: #3ac7ec 4px solid;
  border-radius: 2px;
  padding: 24px 32px;
  flex-direction: column;
}

.form-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #222222;
}

.form-title > a {
  display: flex;
  align-items: center;
}

.form-title > span {
  margin-left: 70px;
}

.role-selector {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  color: #666666;
  font-size: 16px;
}

.role {
  display: flex;
  gap: 8px;
  align-items: center;
}

.green-radio {
  accent-color: #1f7a54;
  height: 20px;
  width: 20px;
}

.address-selector {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.address-selector > .label {
  color: #666666;
  font-size: 12px;
}

.area-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #0000001f;
}

.area-field > .area {
  font-size: 16px;
  color: #222222;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 52px;
}

.input-field > input {
  font-size: 16px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #666666;
  border-bottom: 1px solid #0000001f;
  width: 100%;
}
.input-forgot {
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
  margin-top: 5px;
  color: #1f7a54;
  font-size: 14px;
}

.input-password-field {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.password-field {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
  border-bottom: 1px solid #0000001f;
}

.password-field > input {
  font-size: 16px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #666666;
  width: 100%;
}

.remember-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 32px;
}

.remember-field>input{
  height: 20px;
  width: 20px;
  accent-color: #1f7a54;
}

.remember-field > span {
  color: #222222;
  font-size: 16px;
}

.submit {
  margin-top: 34px;
  display: flex;
  justify-content: center;
}

.submit > button {
  border: none;
  cursor: pointer;
  color: #1f2834;
  font-size: 14px;
  height: 40px;
  width: 200px;
  background-color: #3fd28b;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px #0000003d;
}

.links {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.link {
  color: #1f7a54;
  font-size: 14px;
  padding: 0px 8px;
}

.divider {
  border-right: 1px solid #0000001f;
}
