@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "QuickSand";
  font-weight: 400;

  font-weight: 500;
}

.bold {
  font-weight: 600;
}

body {
  background-color: #eeeeee;
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  min-height: 100vh;
}
.navbar {
  background: url("/assets/header\ pattern\ image.png") center/cover no-repeat;
  background-color: #25313f;
  background-blend-mode: overlay;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 28px;
  color: #3fd28b;
  font-size: 14px;
}

.nav-menu {
  display: flex;
  gap: 32px;
  margin-left: auto;
  margin-right: 32px;
  align-items: center;
}

.nav-menu > .active {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}

.nav-menu > li {
  list-style: none;
  display: inline-block;
  padding: 17px 2px;
}

.nav-options {
  display: flex;
  gap: 10px;
  margin-right: 24px;
  align-items: center;
}

.nav-options > li {
  list-style: none;
}

.profile-icon {
  border: 1px solid #3fd28b;
  border-radius: 50%;
}

.footer {
  width: 100%;
  background-color: #e0e1e1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #616161;
  gap: 16px;
  font-size: 12px;
}

.footer-logo {
  padding: 0px 16px;
  border-right: 1px solid #0000001f;
}

.footer-text {
  display: flex;
  gap: 8px;
}

.links {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.link {
  color: #1f7a54;
  font-size: 14px;
  padding: 0px 8px;
}

.divider {
  border-right: 1px solid #0000001f;
}

.input {
  border: none;
}

.main {
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.main-categories {
  display: flex;
  justify-content: space-around;
  background-color: #8ddc97;
  border-radius: 2px;
  height: 64px;
}

.main-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.active-category {
  border-bottom: 4px solid #222222;
}
.option-text-count {
  color: #222222;
  font-size: 24px;
  font-weight: 600;
}
.option-text {
  font-size: 16px;
  color: #222222;
}
.filter-options {
  margin-top: 24px;
  display: flex;
  align-items: end;
  font-size: 12px;
  color: #686868;
}
.filter-field {
  margin-left: auto;
  display: flex;
  align-items: end;
  gap: 16px;
}
.dropdown {
  background: transparent;
  border: none;
  border-bottom: 1px solid #0000001f;
  width: 200px;
  font-size: 16px;
  color: #333333;
}
.filter-sort {
  margin-left: 24px;
}

.divider {
  margin: 16px 0px;
  border: 1px solid #0000001f;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  width: 411px;
}

.card-content {
  display: flex;
  gap: 16px;
}

.card-options {
  display: flex;
  margin: 0px 24px;
  justify-content: space-between;
  align-items: center;
}

.course-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222222;
  font-size: 16px;
}
.course-title > img {
  align-self: flex-start;
}
.course-metadata {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #666666;
  font-size: 12px;
}
.verticle-divider {
  border-right: 1px solid #0000001f;
  padding-right: 8px;
}
.highlight {
  color: #1f7a54;
}
.course-details {
  display: flex;
  color: #666666;
  gap: 8px;
  font-size: 12px;
  margin-top: 8px;
}
.dark-text {
  color: #222222;
  font-weight: 600;
}
.course-dropdown {
  margin-top: 16px;
  width: 100%;
}
.disable-btn {
  opacity: 0.4;
}

.badge{
  position: relative;
  background-color: #2A7FF3;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  top: -14px;
  left: -10px;
}

.white-badge{
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  position: relative;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  color: #222222;
  font-size: 8px;
  top: -20px;
  left: -15px;
}

.menu-hamburger{
  display: none;

}

@media (max-width: 940px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 798px) {
  .nav-menu{
    display: none;
  }
  .nav-options{
    margin-left: auto;
  }
  .menu-hamburger{
    display: block;
    margin-left: auto;
  }
  
}