@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Quicksand";
  margin: 0px;
  padding: 0px;
  font-family: "QuickSand";
  font-weight: 500;
}

#hamburgerMenu {
  display: none;
  text-transform: uppercase;
  text-align: left;
  width: 280px;
  background-color: #ffffff;
  position: fixed;
  top: 56px;
  right: 16px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
}
#hamburgerMenu ul {
  list-style-type: none;
}
#hamburgerMenu ul li {
  padding: 16px;
  font-size: 14px;
  color: #1f7a54;
  cursor: pointer;
}
#hamburgerMenu ul li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hamburgerMenu ul li:hover {
  background-color: #f3f3f3;
}
#hamburgerMenu ul li:hover img {
  transform: rotate(180deg);
}
#hamburgerMenu ul li:hover ul {
  display: block;
}
#hamburgerMenu ul ul {
  display: none;
  list-style-type: none;
}
#hamburgerMenu ul ul li {
  padding-bottom: 0px;
}

#announcementPreview {
  display: none;
  position: fixed;
  top: 56px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
  right: 60px;
  width: 315px;
  transition: all 1s ease-in-out;
}
#announcementPreview .announcements {
  max-height: 500px;
  overflow-y: scroll;
  background-color: #ffffee;
  font-size: 12px;
  color: #6e6e6e;
}
#announcementPreview .announcements .announcement {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
}
#announcementPreview .announcements .announcement .announcement-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#announcementPreview .announcements .announcement .announcement-details .announcement-author {
  color: #222222;
}
#announcementPreview .announcements .announcement .announcement-details img {
  width: 16px;
  height: 16px;
}
#announcementPreview .announcements .announcement .announcement-content {
  text-align: left;
  font-size: 14px;
  color: #222222;
}
#announcementPreview .announcements .announcement .announcement-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
#announcementPreview .announcements .announcement .announcement-footer img {
  height: 12px;
}
#announcementPreview .announcements .read-announcements {
  background-color: #ffffff;
}
#announcementPreview .buttons {
  background-color: #ffffff;
  color: #1f7a54;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
#announcementPreview .buttons span {
  cursor: pointer;
  padding: 16px 32px;
}

#alertPreview {
  display: none;
  position: fixed;
  top: 56px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
  right: 100px;
  width: 315px;
}
#alertPreview .alerts {
  max-height: 500px;
  overflow-y: scroll;
  background-color: #ffffee;
  font-size: 12px;
  color: #6e6e6e;
}
#alertPreview .alerts .alert {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
  text-align: left;
}
#alertPreview .alerts .alert .alert-content {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
}
#alertPreview .alerts .alert .alert-content span {
  display: flex;
  font-size: 14px;
  color: #222222;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#alertPreview .alerts .alert .alert-content img {
  width: 16px;
  height: 16px;
}
#alertPreview .alerts .alert .alert-from {
  margin-top: 8px;
}
#alertPreview .alerts .alert .alert-from span {
  color: #222222;
}
#alertPreview .alerts .alert .alert-footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#alertPreview .alerts .read-alerts {
  background-color: #ffffff;
}
#alertPreview .buttons {
  background-color: #ffffff;
  color: #1f7a54;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
#alertPreview .buttons span {
  cursor: pointer;
  padding: 16px 32px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  height: 100vh;
  background-color: #eeeeee;
}

.disable {
  opacity: 0.4;
}

select {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
  color: #222222;
  font-size: 16px;
}
select option {
  background: #eeeeee;
  color: #222222;
}

.navbar {
  position: fixed;
  width: 100%;
  background: url("../assets/header pattern svg.svg") center/cover no-repeat;
  background-color: #25313f;
  background-blend-mode: overlay;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 28px;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
  margin-right: 16px;
  gap: 28px;
  margin-left: auto;
  color: #3fd28b;
}
.navbar .nav-links li {
  list-style: none;
  padding: 17px 4px;
}
.navbar .nav-links li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.navbar .nav-links .active {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 17px 4px;
}
.navbar .nav-options li {
  list-style: none;
  padding: 17px 0px;
}
.navbar .nav-options .menu-hamburger {
  display: none;
  height: auto;
}
.navbar .nav-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  color: #1f7a54;
  text-align: center;
  margin-right: 28px;
}
.navbar .nav-options .badge {
  position: relative;
  background-color: #2a7ff3;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  top: -14px;
  left: -10px;
}
.navbar .nav-options .white-badge {
  padding: auto;
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  color: #222222;
  font-size: 8px;
  top: -20px;
  left: -15px;
}

.links {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  color: #1f7a54;
  text-align: center;
  margin-bottom: 16px;
}
.links a {
  text-decoration: none;
  cursor: pointer;
  color: #1f7a54;
}
.links .divider {
  border-left: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding-left: 8px;
}

.site-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #e0e1e1;
  padding: 8px;
}

.footer-text {
  font-size: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding-left: 16px;
  color: #616161;
}
.footer-text span {
  font-weight: 700;
  padding: 0px 8px;
}

.divider {
  border-left: 1px solid rgba(0, 0, 0, 0.1215686275);
}

.main {
  margin: 24px;
  margin-top: 80px;
}
.main .options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #8ddc97;
}
.main .options div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  width: 100%;
  padding: 18px 0px;
}
.main .options div .option-text-count {
  font-size: 24px;
  font-weight: 700;
}
.main .options .active {
  border-bottom: 4px solid #222222;
}
.main .filter-options {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #686868;
  font-size: 12px;
}
.main .filter-options select {
  width: 200px;
  margin-right: 24px;
}

.favourite-off {
  fill: #eeeeee;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 24px;
  margin-top: 16px;
}

.card {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 24px;
  color: #666666;
  font-size: 12px;
  padding-bottom: 0px;
}
.card .expired {
  color: #d80000;
  background-color: #ffe4e6;
  border-radius: 2px;
  padding: 4px 7px 2px 5px;
  position: relative;
  top: -20px;
  left: -24px;
}

.card-content {
  display: flex;
  margin-bottom: 16px;
}

.card-details {
  margin-left: 16px;
  width: 100%;
}

.course-title {
  display: flex;
  align-items: start;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 8px;
}
.course-title span {
  font-size: 16px;
  color: #222222;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.course-title .favourite-disable {
  fill: #eeeeee;
}

.highlight {
  color: #1f7a54;
}

.verticle-divider {
  border-left: 1px solid rgba(0, 0, 0, 0.1215686275);
  height: 16px;
  margin: 0px 8px;
  padding-left: 8px;
}

.course-metadata {
  margin-bottom: 8px;
}

.course-details {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.course-details .course-details-text {
  color: #222222;
}
.course-details .dark-text {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
}

hr {
  background-color: rgba(0, 0, 0, 0.1215686275);
  height: 1px;
  margin-bottom: 8px;
  border: none;
}

.filter-field {
  margin-bottom: 8px;
}
.filter-field select {
  width: 100%;
}

.card-options {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  justify-content: space-around;
}
.card-options img {
  cursor: pointer;
}
.card-options .disable-btn {
  cursor: not-allowed;
  opacity: 0.4;
}

@media (max-width: 798px) {
  .navbar .nav-links {
    display: none;
  }
  .navbar .nav-options {
    margin-left: auto;
  }
  .navbar .nav-options #hamburger {
    display: block;
    margin-right: 24px;
  }
}/*# sourceMappingURL=style.css.map */